/* *** Theme Mode switcher *** */

.bb-mode-switcher {
  .bb-mode-toggle {
    position: relative;
    overflow: hidden;
  }
  .bb-day-mode-icon,
  .bb-night-mode-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: all .5s ease-out;
    z-index: 5;
  }
  .bb-placeholder {
    opacity: 0 !important;
    z-index: 0;
  }
}